<h1>Timeline</h1>

<div id="notice"><%= notice %></div>

<%= form_for(@tweet) do |f| %>
  <div class="field">
    <%# f.label :content %>
    <%= f.text_area :content, :rows => 3 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<ul>
  <% @tweets.each do |tweet| %>
    <li>
      <%= link_to tweet.content, tweet_path(tweet) %>
      <%= link_to 'Edit', edit_tweet_path(tweet) %>
      <%= link_to 'Delete', tweet, :confirm => 'Are you sure?', :method => :delete %>
    </li>
  <% end %>
</ul>

<script>
$(function() {
  setTimeout(
    function() { $('#notice').fadeOut("slow"); },
    1000);
});
</script>

